snippet tt
	@<tt>{${1:code}}

snippet href
	@<href>{${1:url}}

snippet code
	//emlist[][${1:lang}}]{
	${2:code}
	//}

snippet image
	//image[${1:url}][${2:caption}]]{
  //}

snippet fn
	@<fn>{${1:fn}}}

	//footnote[${2:fn}][]

